@import '../../global_styles/main.scss';

.jobs-list-page-content {
  height: calc(100% - 50px);
  padding-top: 10px;

  .top {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }

    .title-container {
      display: flex;
      align-items: center;

      h2 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 10px;
        @include mobile {
          font-size: 18px;
        }
      }

      .title-icon {
        width: 45px;
        height: 45px;
        padding: 8px;
        border-radius: 50%;
        @include mobile {
          width: 35px;
          height: 35px;
          padding: 5px;
        }
      }
    }

    .title-container.all-jobs {
      h2 {
        color: $light-secondarylight-color;
      }
      .title-icon {
        color: $light-secondarylight-color;
        background-color: $light-bg-light-color;
      }
    }

    .title-container.completed-jobs {
      h2 {
        color: $light-secondarylight-color;
      }
      .title-icon {
        color: $light-secondarylight-color;
        background-color: $light-bg-light-color;
      }
    }

    .title-container.early-pending-jobs {
      h2 {
        color: #eab308;
      }
      .title-icon {
        color: #eab308;
        background-color: #fef08a;
      }
    }

    .title-container.late-jobs {
      h2 {
        color: #d61c1c;
      }
      .title-icon {
        color: #d61c1c;
        background-color: #fda4af;
      }
    }

    .btn {
      padding: 8px 15px;
      border-radius: 5px;
      font-size: 16px;
      color: #fff;
      font-family: inherit;
      outline: none;
      cursor: pointer;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      background-color: $light-secondarylight-color;
      border: 2px solid $light-secondarylight-color;
      text-decoration: none;
      @include mobile {
        font-size: 16px;
        padding: 4px 10px;
      }

      &:hover {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        border: 2px solid $light-secondarydark-color;
        background-color: $light-secondarydark-color;
      }
    }
  }
}
